<ion-header>
  <ion-navbar>
    <ion-title> {{ "_TITLE" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-right ion-button icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>  
    <h1>{{ "_ACCEPTED_BUNCHES_HISTORY_HEADER" | translate }}</h1>
 
  <ion-list>
            <h4>{{ "_LOCAL_DATA_HEADER" | translate }}</h4>
    <ion-list-header>
      <ion-avatar item-left> <b>{{ "_S_NO_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-left> <b>{{ "_VEHICLE_NO_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-left> <b>{{ "_LOCATION_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-right> <b>{{ "_TOTAL_BUNCHES_LBL" | translate }}</b> </ion-avatar>
    </ion-list-header>
    <ion-item *ngFor="let history of localHistoryData; let i = index;" (click)="itemSelected(history)">
      <ion-avatar item-left>
        <button ion-button color="light"> {{i+1}} </button>
      </ion-avatar>
            <ion-avatar item-left>
      <h2>{{ history.vehicle_no }}</h2>      </ion-avatar>
      <ion-avatar item-left>
      <h2>{{history .location_name}}</h2>      </ion-avatar>
      <ion-avatar item-right>
      <h2>{{history .bunch_count}}</h2>      </ion-avatar>
    </ion-item>
  </ion-list>

<ion-list>
    <h4>{{ "_ONLINE_DATA_HEADER" | translate }}</h4>
    <ion-list-header>
      <ion-avatar item-left> <b>{{ "_S_NO_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-left> <b>{{ "_VEHICLE_NO_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-left> <b>{{ "_LOCATION_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-right> <b>{{ "_TOTAL_BUNCHES_LBL" | translate }}</b> </ion-avatar>
    </ion-list-header>
    <ion-item *ngFor="let history of acceptedBunchesHistoryData; let i = index;" (click)="itemSelected(history)">
      <ion-avatar item-left>
        <button ion-button color="light"> {{i+1}} </button>
      </ion-avatar>
            <ion-avatar item-left>

      <h2>{{ history.vehicle_no }}</h2>      </ion-avatar>
      <ion-avatar item-left>
      <h2>{{history .location_name}}</h2>      </ion-avatar>
      <ion-avatar item-right>
      <h2>{{history .bunch_count}}</h2>      </ion-avatar>
    </ion-item>
  </ion-list>
  
</ion-content>