<ion-header>
  <ion-navbar>
    <ion-title>{{ "_TITLE" | translate }} - {{ "_HARVEST_BUNCHES_HEADER" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="cards-list-demo" *ngFor="let location of locationFromDB">
    <ion-card-header>
      {{ "_LOCATION_LBL" | translate }} : {{location.location_name}}
      <ion-segment [(ngModel)]="location.h1" color="secondary">
        <ion-segment-button value="seg_info" (click)="getSummaryByLocation(location.location_GUID)">
          {{"_INFO_LBL" | translate }}
        </ion-segment-button>
        <ion-segment-button value="seg_harvest">
          {{"_HARVEST_LBL" | translate }}
        </ion-segment-button>
        <ion-segment-button value="seg_load" (click)="getDataByLocation(location.location_GUID)">
          {{"_LOAD_LBL" | translate }}
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <div [ngSwitch]="location.h1">

      <ion-card *ngSwitchDefault>
        <ion-label>{{ "_TOTAL_HARVESTED_LBL" | translate }}: {{totalHarvested}}</ion-label>
        <ion-label>{{ "_LOADED_LBL" | translate }} : {{totalLoaded}}</ion-label>
        <ion-label>{{ "_BALANCE_LBL" | translate }} : {{balanceHarvested}}</ion-label>
      </ion-card>

      <ion-card *ngSwitchCase="'seg_harvest'">
        <ion-card-content>
          <form [formGroup]="harvestAuthForm" (ngSubmit)="submitHarvestForm(harvestAuthForm.value,location.location_GUID,location.location_name)">
            <ion-item>
              <ion-label floating>{{ "_TOTAL_BUNCHES_LBL" | translate }}</ion-label>
              <ion-input formControlName="harvestedBunchCount" highlight-color="energized" type="text" value=""></ion-input>
            </ion-item>
            <button type="submit" ion-button full [disabled]="!harvestAuthForm.valid">{{ "_SUBMIT_BTN" | translate }}</button>
          </form>
          <button full ion-button (click)="location.h2 = !location.h2;getHarvestedHistory(location.location_name)">{{ "_HARVEST_HISTORY_BTN" | translate }}</button>
        </ion-card-content>

        <ion-card [hidden]="location.h2">
          <ion-card-header>
            {{"_HARVESTED_BUNCHES_HISTORY_HEADER" | translate}}
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <ion-avatar item-left> <b>{{ "_S_NO_LBL" | translate }}</b> </ion-avatar>
                <ion-avatar item-left> <b>{{ "_TOTAL_BUNCHES_LBL" | translate }}</b> </ion-avatar>
                <ion-avatar item-right> <b>{{ "_HARVESTED_DATE_LBL" | translate }}</b> </ion-avatar>
              </ion-list-header>
              <ion-item *ngFor="let history of harvestedHistoryData; let i = index;">
                <ion-avatar item-left>
                  <button ion-button color="light"> {{i+1}} </button>
                </ion-avatar>
                <ion-avatar item-left>{{history .bunch_count}} </ion-avatar>
                <ion-avatar item-right>{{history .created_ts}}</ion-avatar>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>

      </ion-card>

      <ion-card *ngSwitchCase="'seg_load'">
        <ion-card-content>
          <form [formGroup]="loadAuthForm" (ngSubmit)="submitLoadForm(loadAuthForm.value,location.location_GUID)">
            <ion-item>
              <ion-label>{{"_VEHICLE_NO_LBL" | translate}}</ion-label>
              <ion-select formControlName="vehicleSelect" [(ngModel)]="vehicleSelect" interface="popover" placeholder='{{"_SELECT_VEHICLE_HINT" | translate}}'>
                <ion-option *ngFor="let vehicle of vehicleFromDB" value={{vehicle.vehicle_GUID}}>{{vehicle.vehicle_no}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>{{"_DRIVER_LBL" | translate}}</ion-label>
              <ion-select formControlName="driverSelect" [(ngModel)]="driverSelect" interface="popover" placeholder='{{"_SELECT_DRIVER_HINT" | translate}}'>
                <ion-option *ngFor="let driver of driverFromDB" value={{driver.driver_GUID}}>{{driver.driver_name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label fixed>{{ "_TOTAL_BUNCHES_LBL" | translate }}</ion-label>
              <ion-input formControlName="loadedBunchCount" highlight-color="energized" type="text" value=""></ion-input>
            </ion-item>
            <button type="submit" ion-button full [disabled]="!loadAuthForm.valid">{{ "_SUBMIT_BTN" | translate }}</button>
          </form>
          <button full ion-button (click)="location.h3 = !location.h3;getLoadedHistory(location.location_name)">{{ "_LOADED_HISTORY_BTN" | translate }}</button>
        </ion-card-content>
        <ion-card [hidden]="location.h3">
          <ion-card-header>
            {{"_BUNCHES_TRANSPORTED_HEADER" | translate}}
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <ion-avatar item-left> <b>{{ "_S_NO_LBL" | translate }}</b> </ion-avatar>
                <ion-avatar item-left> <b>{{ "_VEHICLE_NO_LBL" | translate }}</b> </ion-avatar>
                <ion-avatar item-left> <b>{{ "_TOTAL_BUNCHES_LBL" | translate }}</b> </ion-avatar>
                <ion-avatar item-right> <b>{{ "_HARVESTED_DATE_LBL" | translate }}</b> </ion-avatar>
              </ion-list-header>
              <ion-item *ngFor="let history of harvestedHistoryData; let i = index;">
                <ion-avatar item-left>
                  <button ion-button color="light"> {{i+1}} </button>
                </ion-avatar>
                <ion-avatar item-left>{{history .registration_no}} </ion-avatar>
                <ion-avatar item-left>{{history .bunch_count}} </ion-avatar>
                <ion-avatar item-right>{{history .created_ts}}</ion-avatar>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-card>

    </div>
    <ion-list>
    </ion-list>
  </ion-card>
</ion-content>