<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<!--<ion-item>
<ion-input type="text" [(ngModel)]="username" placeholder="Enter Username"></ion-input>
</ion-item>-->

<button ion-button color="danger" (click)="save()" > Save </button>
<h1>From Cloud</h1>
 <ion-card *ngFor="let location of masterLocationList">      
        <ion-card-content>
            {{ location.Id }} => {{location.location_GUID}}           =>{{location.location_name}}    
        </ion-card-content>
    </ion-card>

<h1>From Storage</h1>
 <ion-card *ngFor="let location of storageLocationItems">        
        <ion-card-content>
            {{ location.id }} => {{location.location_GUID}}           =>{{location.name}}    
        </ion-card-content>
    </ion-card>
</ion-content>
