<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>


<ion-item>
<ion-input type="text" [(ngModel)]="username" placeholder="Enter Username"></ion-input>
</ion-item>

<button ion-button color="danger" (click)="save()" > Save </button>

 <ion-card *ngFor="let user of users">
        
        <ion-card-content>
            {{ user.FullName}}
           
           
        </ion-card-content>
    </ion-card>

<ion-list>

<ion-item href="#" *ngFor="let x of items" >
{{x.name}}
</ion-item>

</ion-list>

</ion-content>
