<ion-header>
  <ion-navbar class="bgColor-darkBlue">
    <ion-avatar class="logoSize" item-start>
      <img src="../../../assets/img/eSawitLogo.png">
    </ion-avatar>

    <div class="headerInfo">

      <ion-fab top right edge class="topZero rightZero">
        <button ion-fab mini class="btnClear"><ion-icon name="settings"></ion-icon></button>
        <ion-fab-list class="settingBtnFab" side="left">
          <button ion-fab class="bgColor-green" [class.menuHide]="translateToMalayClicked" (click)="translateToMalay()">BM</button>
          <button ion-fab class="bgColor-green" [class.menuHide]="translateToEnglishClicked" (click)="translateToEnglish()">EN</button>
        </ion-fab-list>
      </ion-fab>

    </div>

  </ion-navbar>
</ion-header>

<ion-content class="bgColor-lightGrey">

  <div class="headerBox bgColor-gradOrange">
    <div class="headerBoxTitle2">{{ "_ABOUT_BUNCHES_HEADER" | translate }}</div>
  </div>

  <div class="contentBox">
  <ion-list>
    <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">
      <ion-item>
        <ion-label floating>{{ "_MONTH_LBL" | translate }}</ion-label>
        <ion-select formControlName="monthSelect" interface="popover">
          <ion-option *ngFor="let month of monthsFromStorage" value={{month.value}}>{{ "_MONTH." + month.value | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['monthSelect'].hasError('required')">{{ "_MONTH_SELECT_VLD" | translate }}</div>-->

      <ion-item>
        <ion-label floating>{{ "_LOCATION_LBL" | translate }}</ion-label>
        <ion-select formControlName="locationSelect" interface="popover">
          <ion-option *ngFor="let item of locationListFromDb" value={{item.location_GUID}}>{{item.location_name}}</ion-option>
        </ion-select>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['locationSelect'].hasError('required')">{{ "_LOCATION_SELECT_VLD" | translate }}</div>-->

      <ion-item>
        <ion-label floating>{{ "_TOTAL_BUNCHES_LBL" | translate }}</ion-label>
        <ion-input formControlName="bunchCount" highlight-color="energized" type="number"></ion-input>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['bunchCount'].hasError('required')">{{ "_BUNCH_COUNT_VLD" | translate }}</div>-->

      <button class="formBtnCircle" type="submit" ion-button full [disabled]="!authForm.valid">{{ "_SUBMIT_BTN" | translate }}</button>


    </form>
  </ion-list>
  </div>
</ion-content>