<ion-header>
  <ion-navbar>
    <ion-title> {{ "_TITLE" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-right ion-button icon-only (click)="openMenu()">
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="bgColor-lightGrey">

  <div class="headerBox bgColor-gradRed">
    <div class="headerBoxTitle2">{{ "_ABOUT_BUNCHES_HEADER" | translate }}</div>
  </div>

  <div class="contentBox">
  <ion-list>
    <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">
      <ion-item>
        <ion-label floating>{{ "_MONTH_LBL" | translate }}</ion-label>
        <ion-select formControlName="monthSelect" interface="popover">
          <ion-option *ngFor="let month of monthsFromStorage" value={{month.value}}>{{ "_MONTH." + month.value | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['monthSelect'].hasError('required')">{{ "_MONTH_SELECT_VLD" | translate }}</div>-->

      <ion-item>
        <ion-label floating>{{ "_LOCATION_LBL" | translate }}</ion-label>
        <ion-select formControlName="locationSelect" interface="popover">
          <ion-option *ngFor="let item of locationListFromDb" value={{item.location_GUID}}>{{item.location_name}}</ion-option>
        </ion-select>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['locationSelect'].hasError('required')">{{ "_LOCATION_SELECT_VLD" | translate }}</div>-->

      <ion-item>
        <ion-label floating>{{ "_TOTAL_BUNCHES_LBL" | translate }}</ion-label>
        <ion-input formControlName="bunchCount" highlight-color="energized" type="text"></ion-input>
      </ion-item>
      <!--<div class="error-box" *ngIf="authForm.controls['bunchCount'].hasError('required')">{{ "_BUNCH_COUNT_VLD" | translate }}</div>-->

      <button class="formBtnCircle" type="submit" ion-button full [disabled]="!authForm.valid">{{ "_SUBMIT_BTN" | translate }}</button>


    </form>
  </ion-list>
  </div>
</ion-content>